@use '../../vars/' as *;

._background {
  &_orange {
    background-color: $orange;
  }
  &_red {
    background-color: $red;
  }
}

._rotating {
  @keyframes infinite-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  animation: infinite-rotate 25s infinite linear;
  transform-origin: center;
}