@use '../vars/' as *;

.template {

  &__container {
    display: flex;
    justify-content: center;
    gap: 2rem 4rem;
    flex-wrap: wrap;
  }

  &_alignment {
    &_top {
      align-items: flex-start;
    }
    &_center {
      align-items: center;
    }
  }

  &__text {
    flex: 1 1 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__icon {
    width: min(20rem, 100%);
  }
}